@import "@/styles/variables";

.colorInput {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  input[type="color"] {
    width: 100px;
    height: 40px;
    padding: 2px;
    border: 1px solid $border-color;
    border-radius: 4px;
    cursor: pointer;
  }
}
